<header>
    <nav>
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <div class="nav-wrapper">
                        <a href="/" class="brand-logo">Сократитель</a>
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                            <li><a href="index">Забронировать билет</a></li>
                            <li><a href="tickets">Мои билеты</a></li>
                            <li><a href="auth">Войти</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

<main class="container">
    <div class="row">
        <div class="col s12">
            <div class="col s12">
                <div class="title">
                    Выбрать место:
                </div>
                <div class="hall">
                    <div class="hall-place">
                        <div class="circle-place" data-place="1"></div>
                    </div>
                    <div class="hall-place">
                        <div class="circle-place" data-place="2"></div>
                    </div>
                    <div class="hall-place">
                        <div class="circle-place" data-place="3"></div>
                    </div>
                    <div class="hall-place">
                        <div class="circle-place" data-place="4"></div>
                    </div>
                    <div class="hall-place">
                        <div class="circle-place" data-place="5"></div>
                    </div>
                    <div class="hall-place">
                        <div class="circle-place" data-place="6"></div>
                    </div>
                    <div class="hall-place">
                        <div class="circle-place" data-place="7"></div>
                    </div>
                    <div class="hall-place">
                        <div class="circle-place" data-place="8"></div>
                    </div>
                    <div class="hall-place">
                        <div class="circle-place" data-place="9"></div>
                    </div>
                    <div class="hall-place">
                        <div class="circle-place" data-place="10"></div>
                    </div>
                    <div class="hall-place">
                        <div class="circle-place" data-place="11"></div>
                    </div>
                    <div class="hall-place">
                        <div class="circle-place" data-place="12"></div>
                    </div>
                    <div class="hall-place">
                        <div class="circle-place" data-place="13"></div>
                    </div>
                    <div class="hall-place">
                        <div class="circle-place" data-place="14"></div>
                    </div>
                    <div class="hall-place">
                        <div class="circle-place" data-place="15"></div>
                    </div>
                    <div class="hall-place">
                        <div class="circle-place" data-place="16"></div>
                    </div>
                    <div class="hall-place">
                        <div class="circle-place" data-place="17"></div>
                    </div>
                    <div class="hall-place">
                        <div class="circle-place" data-place="18"></div>
                    </div>
                    <div class="hall-place">
                        <div class="circle-place" data-place="19"></div>
                    </div>
                    <div class="hall-place">
                        <div class="circle-place close" data-place="20"></div>
                    </div>
                    <div class="hall-place">
                        <div class="circle-place" data-place="21"></div>
                    </div>
                    <div class="hall-place">
                        <div class="circle-place" data-place="22"></div>
                    </div>
                    <div class="hall-place">
                        <div class="circle-place" data-place="23"></div>
                    </div>
                    <div class="hall-place">
                        <div class="circle-place" data-place="24"></div>
                    </div>
                    <div class="hall-place">
                        <div class="circle-place" data-place="25"></div>
                    </div>
                </div>
            </div>

            <form action="/" method="post">
                <input id="place_number" type="hidden" name="place_number">
                <button class="waves-effect waves-light btn">Забронировать</button>
            </form>
        </div>
    </div>
</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="script.js"></script>